body{
  background-image: linear-gradient(red, blue);
  height: 100vh;
}

.jugadores, .puntajes, .header {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 5px 5px 10px #000, 5px 5px 10px #000;
  font-family: 'Anton', sans-serif;
  font-size: 4em;
}

.contador{
  font-size: 4rem;
}

.info {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 5px 5px 10px #000, 5px 5px 10px #000;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  text-align: center;
}